<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規追加</title>
</head>
<body>
    <h1>新規追加</h1>
    <form action="/account/create" method="POST">
        <label>日付: <input type="date" name="date" required></label><br>
        <label>品目: <input type="text" name="item" required></label><br>
        <label>金額: <input type="number" name="amount" required></label><br>
        <label>メモ: <input type="text" name="memo"></label><br>
        <button type="submit">登録</button>
    </form>
    <a href="/account">戻る</a>
</body>
</html>