<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>どっちの手に入ってるか</title>
</head>
<body>
    <h1>結果</h1>
<p>あなたが選んだ手は <%= userDice %> でした。</p>
<p>相手のあたりの手は <%= enemyDice %> でした。</p>
<h2><%= result %></h2>
<a href="/public/dochinote.html">もう一度遊ぶ</a>
</body>
</html>

